body, html {
  width: 100%;
  height: 100%;
  font-size: 16px;
  font-family: 'im_fell_regular', serif;
  color: #392c1b;
}

/* LAYOUT ---------------------------------------------------------------*/

.content {
  width: 100%;
  height: 100%;
}
aside {
  width: 33%;
  min-width: 300px;
  height: 100%;
  float: left;
}
aside img {
  width: 700px;
  margin: 2rem 0 0 -4rem;
}
article {
  width: 60%;
  height: 100%;
  float: left;
  padding: 1%;
}
hgroup {
  width: 100%;
  padding: 1.8125rem 0 3.25rem 0;
}
section {
  width: 200px;
  float: left;
  margin: 0 1rem 1.8125rem 0;
}
section:nth-of-type(4n) {
  margin-right: 0;
}

/* TYPOGRAPHY -----------------------------------------------------------*/

a {
  color: #0099a3;
  text-decoration: none;
}
h1 {
  color: #fcdb6d;
  font-size: 5.375rem;
  letter-spacing: 0.1875rem;
}
h2 {
  font-size: 1.8125rem;
  text-transform: uppercase;
  letter-spacing: 0.1875rem;
  padding-bottom: 1rem;
}
h2 span {
  font-size: 3rem;
}
h3 {
  font-size: 1.8125rem;
  text-transform: uppercase;
  padding-bottom: 1rem;
}
h4, h6 {
  font-size: 1rem;
  padding-bottom: 0.5rem;
  display: inline;
}
h5 {
  font-family: 'im_fell_italic', serif;
  padding: 0.5rem 0 0 1.1875rem;
}
p {
  padding-bottom: 1rem;
  line-height: 1.1875rem;
}
span.xp {
  background-color: #0099a3;
  border: 1px solid #0d6369;
  border-radius: 3px;
  color: white;
  display: inline-block;
  font-size: 1.8125rem;
  margin-right: 1rem;
  padding: 0.5rem 1rem 1rem 1rem;
}
span.xp:after {
  content: ' xp'
}

/* LISTS ----------------------------------------------------------------*/

li {
  background-color: #f2efe6;
  border: 1px solid #d6cdc1;
  border-radius: 2px;
  padding: 0.75rem 1rem 0.75rem 1.1875rem;
  margin: 0.5rem 0;
  text-indent: -0.75rem;
}
li > h4 {
  position: relative;
  left: 0.5rem;
}
li > div {
  text-indent: 0rem;
}

li.completed {
  background-color: #fcfbf5;
  color: #cac3b9;
}
li.completed:before {
  content: "\2612";
}
li.completed:hover {
  background-color: #d6cdc1;
  color: #392c1b;
  cursor: pointer;
}


li.active {

}
li.active:before {
  content: "\2610";
}
li.active:hover {
  background-color: #d6cdc1;
  cursor: pointer;
}


li.locked {
  text-indent: -9999px;
  line-height: 0;
  padding: 1.1875rem 0 1rem 1.8125rem;
}
li.locked:hover {
  background-color: #d66b4b;
  border: 1px solid #ffd2c4;
  color: #ffd2c4;
  cursor: pointer;
}
li.locked h4 {
  display: block;
  padding-bottom: 0;
}
li.locked:after {
  content: "locked";
  text-transform: uppercase;
}

/* MODULES ---------------------------------------------------------------*/

.lightbox {
  background-color: #f2efe6;
  border: 1px solid #d6cdc1;
  border-radius: 4px;
  box-shadow: 0px 3px 1rem #afa79c;
  color: #392c1b;
  display: none;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  max-height: 42rem;
  width:  33rem;
  margin: auto;
  margin-top: 2rem;
  padding: 1.8125rem 1.1875rem 3rem 1.1875rem;
  z-index: 10;
  pointer: pointer;
}
.lightbox hgroup {
  padding: 0 0 1rem 0;
}
.lightbox h3 {
  color: #ffc400;
  padding-bottom: 0rem;
}
.lightbox h4 {
  color: #ffc400;
}
.lightbox ul {
  line-height: 1.1875rem;
  padding-bottom: 1rem;
/*  list-style-type: disc;*/
}
.lightbox li {
  margin: 0;
  padding: 0;
  border: none;
  text-indent: 0;
}



/* @MEDIA ---------------------------------------------------------------*/

@media screen (max-width: 640px) {
  body {
  }
}


/* FONTS ----------------------------------------------------------------*/

@font-face {
  font-family: 'im_fell_italic';
  src: url('../fonts/feenit27c-webfont.eot');
  src: url('../fonts/feenit27c-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/feenit27c-webfont.woff') format('woff'),
       url('../fonts/feenit27c-webfont.ttf') format('truetype'),
       url('../fonts/feenit27c-webfont.svg#im_fell_english_proitalic') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'im_fell_regular';
  src: url('../fonts/feenrm28c-webfont.eot');
  src: url('../fonts/feenrm28c-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/feenrm28c-webfont.woff') format('woff'),
       url('../fonts/feenrm28c-webfont.ttf') format('truetype'),
       url('../fonts/feenrm28c-webfont.svg#im_fell_english_proregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
