body, html {
  width: 100%;
  height: 100%;
  font-size: 16px;
  font-family: 'im_fell_regular', serif;
  color: #392c1b;
}

/* LAYOUT ---------------------------------------------------------------*/

.content {
  width: 100%;
  height: 100%;
}
aside {
  width: 33%;
  min-width: 300px;
  height: 100%;
  float: left;
}
aside img {
  margin: 2rem 0 0 0;
}
article {
  width: 60%;
  height: 100%;
  float: left;
  padding: 1%;
}
hgroup {
  width: 100%;
  padding: 1.8125rem 0 3.25rem 0;
}
section {
  width: 200px;
  float: left;
  margin: 0 1rem 1.8125rem 0;
}
section:nth-of-type(4n) {
  margin-right: 0;
}

/* TYPOGRAPHY -----------------------------------------------------------*/

a {
  color: #428c91;
  text-decoration: none;
}
h1 {
  color: #ffba41;
  font-size: 5.375rem;
  letter-spacing: 0.1875rem;
}
h2 {
  color: #ffba41;
  font-family: 'im_fell_italic', serif;
  font-size: 3.25rem;
  letter-spacing: 0.1875rem;
}
h3 {
  font-size: 1.8125rem;
  text-transform: uppercase;
  padding-bottom: 1rem;
}
hgroup h3 {
  padding-bottom: 0;
}
h3 span {
  font-size: 3rem;
}
h4, h6 {
  font-size: 1rem;
  padding-bottom: 0.5rem;
  display: inline;
}
h5 {
  font-family: 'im_fell_italic', serif;
  padding: 0.5rem 0 0 1.1875rem;
}
p {
  padding-bottom: 1rem;
  line-height: 1.1875rem;
}

/* LISTS ----------------------------------------------------------------*/

li {
  background-color: #f2efe6;
  border: 1px solid #d6cdc1;
  border-radius: 2px;
  padding: 0.75rem 1rem 0.75rem 1.1875rem;
  margin: 0.5rem 0;
  text-indent: -0.75rem;
}
li > h4 {
  position: relative;
  left: 0.5rem;
}
li > div {
  text-indent: 0rem;
}

li.completed {
  background-color: #fcfbf5;
  color: #cac3b9;
}
li.completed:before {
  content: "\2612";
}
li.completed:hover {
  background-color: #d6cdc1;
  color: #392c1b;
  cursor: pointer;
}


li.active {

}
li.active:before {
  content: "\2610";
}
li.active:hover {
  background-color: #d6cdc1;
  cursor: pointer;
}


li.locked {
  text-indent: -9999px;
  line-height: 0;
  padding: 1.1875rem 0 1rem 1.8125rem;
  display: none;
}
li.locked:hover {
  background-color: #d66b4b;
  border: 1px solid #ffd2c4;
  color: #ffd2c4;
  cursor: pointer;
}
li.locked h4 {
  display: block;
  padding-bottom: 0;
}
li.locked:after {
  content: "locked";
  text-transform: uppercase;
}

/* MODULES ---------------------------------------------------------------*/

.progress-bar {
  width: 98%;
  height: 1.8125rem;
  border: 2px solid #4c4842;
  border-radius: 3px;
  background-color: #fcfbf5;
  box-shadow: inset 0px 3px 1rem #afa79c;
  margin-bottom: 0.5rem;
  overflow: hidden;
}
.progress-bar .completed {
  background-color: #428c91;
  border-right: 2px solid #4c4842;
  box-shadow: 0px 3px 1rem #afa79c;
  display: inline-block;
  height: 100%;
  width: 48%;
  vertical-align: middle;
}
.progress-bar h4 {
  display: inline-block;
  font-size: 1.1875rem;
  vertical-align: middle;
  padding: 0.1875rem 0.5rem;
  float: right;
}
.progress-bar .completed h4 {
  color: #fcfbf5;
}


.lightbox {
  background-color: #f2efe6;
  border: 1px solid #d6cdc1;
  border-radius: 4px;
  box-shadow: 0px 3px 1rem #afa79c;
  color: #392c1b;
  cursor: pointer;
  display: none;
  margin: auto;
  margin-top: 2rem;
  max-height: 42rem;
  overflow: scroll;
  padding: 1.8125rem 1.1875rem 3rem 1.1875rem;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  width:  33rem;
  z-index: 10;
}
.lightbox hgroup {
  padding: 1rem 0 1rem 0.5rem;
  background-color: #4c4842;
  border: 1px solid #392c1b;
  border-radius: 3px;
  color: #ffba41;
  display: inline-block;
  margin-bottom: 1.8125rem;
  width: 32.25rem;
}
.lightbox ul {
  line-height: 1.1875rem;
  padding-bottom: 1rem;
/*  list-style-type: disc;*/
}
.lightbox li {
  margin: 0;
  padding: 0;
  border: none;
  text-indent: 0;
}
.lightbox.columns > img {
  float: left;
}
.lightbox.columns span {
  margin: 0 0 1rem 1rem;
}
.lightbox.columns span.xp {
  margin-right: 6rem;
}
.lightbox.columns span.reward {
  float: left;
}
.lightbox.columns span.description {
  display: inline-block;
  float: left;
  vertical-align: middle;
  width: 9rem;
}
.lightbox iframe {
  margin-bottom: 1rem;
}


span.xp {
  background-color: #428c91;
  border: 1px solid #386a6d;
  border-radius: 3px;
  color: white;
  display: inline-block;
  font-size: 1.8125rem;
  margin-right: 1rem;
  padding: 0.5rem 1rem 1rem 1rem;
}
span.xp:after {
  content: ' xp'
}


span.reward {
  background-color: #4c4842;
  border: 1px solid #392c1b;
  border-radius: 3px;
  color: white;
  display: inline-block;
  font-size: 1.8125rem;
  margin-right: 1rem;
  text-transform: capitalize;
  vertical-align: middle;
}
span.reward img {
  max-width: 2.67rem;
}

/* @MEDIA ---------------------------------------------------------------*/

@media screen (max-width: 640px) {
  body {
  }
}


/* FONTS ----------------------------------------------------------------*/

@font-face {
  font-family: 'im_fell_italic';
  src: url('../fonts/feenit27c-webfont.eot');
  src: url('../fonts/feenit27c-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/feenit27c-webfont.woff') format('woff'),
       url('../fonts/feenit27c-webfont.ttf') format('truetype'),
       url('../fonts/feenit27c-webfont.svg#im_fell_english_proitalic') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'im_fell_regular';
  src: url('../fonts/feenrm28c-webfont.eot');
  src: url('../fonts/feenrm28c-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/feenrm28c-webfont.woff') format('woff'),
       url('../fonts/feenrm28c-webfont.ttf') format('truetype'),
       url('../fonts/feenrm28c-webfont.svg#im_fell_english_proregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
